---
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)
import { SignIn, SignOut } from 'auth-astro/components';

session?.user.automaticallyUpdate;
---

    {session ?
      <SignOut>Logout</SignOut>
    :
      <SignIn provider="github">Login</SignIn>
    }

    <p>
      {session ? `Logged in as ${session.user?.name}` : 'Not logged in'}
    </p>
